.app {
  display: flex;
  margin:20px auto;
  justify-content: center;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  background: silver;
  border-radius: 15px;
  box-shadow: 0 0 0.5em black, 0 0 5em black, 0 0 0.5em black;
  width:80%

}

.app img {
  max-width: 150px;
}

.formulaire{
	display:flex;
	flex-direction: column;
}


.inputDiv{
	display: flex;
	margin: auto;
	text-align:center;
	align-items: center;
	font-size: 1.5rem;

}

.inputDiv input{
margin:15px;
background-color: rgb(226, 224, 224);
color:purple;
border-radius: 5px;
padding:8px;
}

.calendrier{
	color: purple;
	background-color:rgb(226, 224, 224);
	border-radius: 20px;
	padding:40px 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: sans-serif;
}

.react-calendar__month-view button, .react-calendar__year-view__months button, .react-calendar__decade-view__years button{
color:purple;
font-weight: bold;
border-radius: 5px;
padding:15px
}

.react-calendar__month-view__weekdays__weekday{
	margin-bottom:15px;
	margin-top:15px;
	text-decoration: none;
}

.react-calendar__navigation span{

}

.react-calendar__navigation button{
	background-color: rgb(226, 224, 224);
	border: 1px solid grey;
	color: purple
}

.buttonSubmit{
	margin:15px auto;
	background-color: rgb(226, 224, 224);
	color:lightgray;
	border: none;
	border-right: 5px solid white;
	border-left: 5px solid white;
	border-top: 2px solid white;
	font-weight: bold;
	background-color:rgba(128, 0, 128, 0.637);
	border-radius: 10px;
	padding:8px;
	width: 40%;
	font-size:1.1rem
}
.buttonSubmit:hover{
	transform: scale(1.02);
	background-color: purple
}

.react-calendar{
	margin:auto;
	border-radius:20px;
	background-color: lightgray;
}

.textRdv{
	color: rgba(128, 0, 128, 0.637);
	font-weight:bold;
	padding:15px;
	font-size: 1.2rem;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textValidation{
	padding:20px;
	color: rgba(128, 0, 128, 0.637);
}

.timeInput{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.timeInput input{
	margin:10px auto
}

@media (max-width: 800px) {

	.inputDiv{
		display: block;
	}

	.react-calendar{
		width: 100%;	
	}

	.app{width:95%;
	border:none;
box-shadow: none;
width:100%;
margin:0;
border-radius:0px}

 }
